<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Header -->
			<header id="header">
				<h1 class="title">Professional Experience</h1>
				<nav>
					<ul>
						<form>
							<input type="button" value="Go back!" onclick="history.back()">
						   </form>
					</ul>
				</nav>
			</header>
		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Main -->
					<section id="main" class="wrapper style3 fade-up" >
						<div class="inner">
							<div class="features">
								<section>
									<span class="icon solid major fa-code"></span>
									<h3>BDO USA, LLP, McLean, VA </h3>
									<p>October 21 to February 22, Interim (through R. Joseph Group)
										February 22 to September 22, fulltime
										</p>
									<p><ul>
										<li>Designed and implemented a system to securely communicate with our clients using the cloud on the BDO platform, with no extra charge to the clients.</li>
										<li>Prepared demos and presentation files for new systems and discussed implementation with clients to assist with various business processes</li>
										<li>Assisted clients in fixing system access and usage issues.</li>
										<li>Worked as a liaison for clients, organized and led projects and meetings with donors</li>
										<li>Utilized a practice management system (ECW) to support billing activities and prepare monthly analysis files and Journal Entries.</li>
										<li>Monitored the discounted fee approval process as a liaison for a client. </li>
										<li>Applied BDO processes, technology, and resources through BSO to assist workflow and ensure proper documentation of SOPs and work papers.</li>
									</ul></p>
								</section>
								<section>
									<span class="icon solid major fa-cog"></span>
									<h3>Federal National Mortgage Association (Fannie Mae), Washington DC</h3>
									<p>Finance Accounting Associate - January 2020 to February 2021</p>
									<p><ul>
										<li>Presented the monthly REO and non-REO inventory analysis to stakeholders and the department VP/officer of the team</li>
										<li>Performed deep analytics and reporting on business and financial information to provide insights to stakeholders, make projections of prospective financial performance and determine the appropriate treatment</li>
										<li>Owned portions of the monthly financial close process, such as ensuring sub-ledger systems appropriately recorded transactions into the general ledger and prepared month-end ledger detail reports</li>
										<li>Interacted, collaborated, and worked on problem-solving directly with finance and critical business partners, including legal and operations teams and external auditors</li>
										<li>Prepared details and summary files showing yearly movements of various GL accounts per the PBC list received from external auditors</li>
										<li>Developed reports documenting assets, liabilities, profit and loss, and other financial activities and results</li>
										<li>Recorded monthly journal entries and presented the GL updates along with MoM analysis for review</li>

									</ul></p>
								</section>
								<section>
									<span class="icon solid major fa-desktop"></span>
									<h3>Insperity (Client - Department of Labor), Washington DC</h3>
									<p>Staff Accountant/Consultant - April 2018 to July 2019</p>
									<p><ul>
										<li>Worked as a liaison between software developers and business users by developing manual and automated test cases and performing various types of testing: functional, regression, and User acceptance testing (UAT) </li>
										<li>Completed monthly Trial Balance Mapping Update using Verdi Financial Statement Tool and NCFMS Trial Balance</li>
										<li>Updated Tie Point Process to streamline and increase efficiency.</li>
										<li>Researched and resolved unreconciled financial data</li>
										<li>Created Microsoft Excel templates to help streamline data input for the team.</li>
										<li>Completed monthly Tie Point variance and abnormal variance research for multiple agencies.</li>
										<li>Researched, reconciled, and documented processes to resolve abnormal balances in the general ledger</li>
										<li>Compiled the quarterly footnote validations for inclusion in the draft financial statements</li>
										<li>Assisted in performing the quality check (footing and cross-footing) of the quarterly financial reporting package</li>						
									</ul></p>
								</section>
								<section>
									<span class="icon solid major fa-link"></span>
									<h3>Deloitte Touché Tohmatsu Limited (DTTL), Addis Ababa, Ethiopia</h3>
									<p>Audit Associate I - August 2014 to July 2016</p>
									<p><ul>
										<li>Documented business processes, risks identified and planned audit procedures.</li>
										<li>Conducted interviews, reviewed documentations, and prepared audit working papers.</li>
										<li>Evaluated the design and tested the effectiveness of internal controls.</li>
										<li>Generated management reports as demanded by the audit manager.</li>
										<li>Prepare timely and accurate financial reports for month-end, quarter-end, and year-end closing.</li>
										<li>Audited manufacturing, not-for-profit, merchandising, and service providers, with annual revenues ranging from $700,000 to $89,000,000.</li>
										<li>Evaluated accounting statements of client companies.</li>
										<li>Finalized financial statement figures, evaluated account reconciliations, prepared corporate income tax returns, formulated relevant disclosures, and presented management letters.</li>
									</ul></p>
								</section>
								<section>
									<span class="icon major fa-gem"></span>
									<h3>Oxford computer technology institute, Addis Ababa, Ethiopia</h3>
									<p>Computer Instructor - August 2010 to February 2011</p>
									<p><ul>
										<li>Conducted classes and trained students on basic computer skills for business, Microsoft Office, computer networking basics, and windows security.</li>
										<li>Provided one-on-one lab sessions for students to help them better understand the topics covered in class.</li>
										<li>Measured students’ progress and provided feedbacks and additional support.</li>
										<li>Maintained a positive and engaging learning environment to ensure student success.</li>
										<li>Demonstrated strong communication and interpersonal skills to interact with students of diverse backgrounds.</li>
								</section>
							</div>
						</div>	
					<section>
				</div>
		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>