<!DOCTYPE HTML>

<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" href="static/assets/favicon/favicon.png">
		<link rel="icon" type="image/gif" href="static/assets/favicon/animated_favicon1.png">
	</head>
		<body class="is-preload">

			<!-- Sidebar -->
				<section id="sidebar">
					<div class="inner">
						<nav>
							<ul>
								<li><a href="#intro">Welcome</a></li>
								<li><a href="#one">Projects</a></li>
								<li><a href="#two">Professional Experience</a></li>
								<li><a href="#three">Volunteering</a></li>
								<li><a href="#four">Get in touch</a></li><br>
								<li><a href="static/assets/downloads/Resume_MH.pdf" download>Download Resume</a></li>
							</ul>
						</nav>
					</div>
				</section>

			<!-- Wrapper -->
				<div id="wrapper">

					<!-- Intro -->
						<section id="intro" class="wrapper style1 fullscreen fade-up">
							<div class="inner">
								<h><i><em>Hi there, this is</em></i></h>
								<h1>Melkam Haile</h1>
								<span class="image right"><img src="static/assets/images/pro.png" alt="" /></span>
								<p> A highly motivated, detail-oriented, Certified Associate Solutions Architect and Junior Python developer, with six years of experience in consulting & accounting, and hands-on experience in designing and implementing cloud-based solutions on AWS. I am enthusiastic about staying up to date with the latest technologies and best practices to drive innovation-led improvements and problem-solving.</p>
								<ul class="actions">
									<li><a href="#one" class="button scrolly">Learn more</a></li>
								</ul>
							</div>
						</section>

					<!-- One -->
						<section id="one" class="wrapper style2 spotlights">
							<section>
								<div class="content">
									<div class="inner">
										<h2> Projects: October 2022 - March 2023</h2><br>
										<h3>Microservices with Fargate to process event-tickets.</h3>
										<p><ul>
											<li>Deployed REST-API on API gateway to route requests to an SQS queue.</li>
											<li>Created a DynamoDB table to store ticket information and built the Docker image of the application and pushed it to an ECR repository using the Cloud9 IDE</li>
											</ul></p>
										<ul class="actions">
											<li><a href="projects.html" class="button">Learn more</a></li>
										</ul>
									</div>
								</div>
							</section>
							<section>
								<div class="content">
									<div class="inner">
										<h3>Securing Networks and Ec2 services and monitoring overall security for upcoming migration to AWS.</h3>
											<p><ul>
												<li> Created a three-security zone network infrastructure.</li>
												<li> Implemented network segmentation using security groups, network ACLs, and public and private subnets.</li>
												</ul></p>
										<ul class="actions">
											<li><a href="projects.html" class="button">Learn more</a></li>
										</ul>
									</div>
								</div>
							</section>
							<section>
								<div class="content">
									<div class="inner">
										<h3>Lyft and shift of shopping website to Serverless</h3>
											<p><ul>
												<li> Aurora serverless cluster and migrated MySQL database to the cluster</li>
												<li> Configured Lambda function to deploy the application serverless</li>
												</ul></p>
										<ul class="actions">
											<li><a href="projects.html" class="button">Learn more</a></li>
										</ul>
									</div>
								</div>
							</section>
					<!-- Two -->
						<section id="two" class="wrapper style3 fade-up" >
								<div class="inner">
									<h2> Professional Experience</h2>
									<div class="features">
										<section>
										<span class="icon solid major fa-briefcase"></span>
											<a href="careers.html"><h3>BDO USA, LLP, McLean, VA</h3>
											<p>October 2021 to February 2022, Interim Consultant(through R. Joseph Group)
												February 2022 to September 2022, Senior Associate Consultant - fulltime
											</a></p>
										</section>
										<section>
										<span class="icon solid major fa-briefcase"></span>
											<a href="careers.html"><h3>Federal National Mortgage Association (Fannie Mae), Washington DC</h3>
											<p>Finance Accounting Associate - January 2020 to February 2021</a></p>
										</section>
										<section>
										<span class="icon solid major fa-briefcase"></span>
											<a href="careers.html"><h3>Insperity (Client - Department of Labor), Washington DC</h3>
											<p>Staff Accountant/Consultant - April 2018 to July 2019</a></p>
										</section>
										<section>
										<span class="icon solid major fa-briefcase"></span>
											<a href="careers.html"><h3>Deloitte Touché Tohmatsu Limited (DTTL), Addis Ababa, Ethiopia</h3>
											<p>Audit Associate II/I - August 2014 to July 2016</a></p>
										</section>
										<section>
										<span class="icon solid major fa-briefcase"></span>
											<a href="careers.html"><h3>Oxford computer technology institute, Addis Ababa, Ethiopia</h3>
											<p>Computer Instructor - August 2010 to February 2011 (Part-time).</Part-time></a></p>
										</section>
												<ul class="actions">
												<li><a href="careers.html" class="button">Learn more</a></li>
												</ul>
									</div>
								</div>
						</section>

					<!-- threee -->
						<!-- Intro -->
									<section id="three" class="wrapper style1 fullscreen fade-up">
										<div class="inner">
											<a target="_blank" href="https://www.evasue.net"><h2>Evangelical Students' and Graduates Union of Ethiopia</h2><br></a>
											<h3>Kiremt/Summer Academic Tutorial Program</h3>
											<p>As a recent high school graduate in the summer of 2006, I had the honor of participating in one of the largest youth volunteer programs in Addis Ababa, Ethiopia. The program was designed to offer academic tutorial services for high school students in need. <br><br>
												Over the course of three summers between 2006 and 2009, we had the privilege of tutoring more than 400 high school students, from which more than 90% were able to go to college and beyond. <br><br>											
												Looking back, this experience stands as one of my proudest moments in life. I feel grateful to have had the opportunity to join hands with an exceptional group of dedicated, compassionate and intelligent tutors and teachers. To this day, I maintain cherished friendships with some of my former teammates who lives in various parts of the world. </p>
											<ul class="actions">
												<li><a href="gallery.html" class="button">View Certificates</a></li>
										</ul>
										</div>
									</section>
					<!-- four -->
						<section id="four" class="wrapper style2 fade-up">
							<div class="inner">
								<h2>Get in touch</h2>
								<p>I'd love to explore any opportunities to work with you in the areas of cloud computing and Python development, send me a message, I will make sure reply as soon as possible.</p>
								<div class="split style1">
									<section>
										<form method="post" action="send_message">
											<div class="fields">
												<div class="field half">
													<label for="name">Name</label>
													<input type="text" name="name" id="name" placeholder="Name" pattern="[A-Za-z]" required/>
												</div>
												<div class="field half">
													<label for="email">E-mail</label>
													<input type="email" name="email" id="email" placeholder="e-mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required/>
												</div>
												<div class="field">
													<label for="message">Message</label>
													<textarea name="message" id="message" rows="5" placeholder="Enter your message"></textarea><br>
												</div>
												<div>
													<ul class="actions">
													<li><a href="" class="button submit">Send Message</a></li>
													</ul>
												</div>
											</div>
										</form>
									</section>
									<section>
										<ul class="contact">
											<li>
												<h3>Address</h3>
												<span>12902 Hallwood Pl<br />
												Fort Washington, MD 20744<br />
												USA</span>
											</li>
											<li>
												<h3>Email</h3>
												<span>malemay20@gmail.com</span>
											</li>
											<li>
												<h3>Phone</h3>
												<span>(920) 342-4423</span>
											</li>
											<li>
												<h3>Social</h3>
												<ul>
													<li><a target="_blank" href="https://github.com/melkamalem" class="icon brands fa-github"><span class="label and link">GitHub</span></a></li>
													<li><a target="_blank" href="https://www.linkedin.com/in/melkam-haile-mba-%E1%88%98%E1%88%8D%E1%8A%AB%E1%88%9D-%E1%8A%A0%E1%88%88%E1%88%9B%E1%8B%A8%E1%88%81-%E1%88%80%E1%8B%AD%E1%88%8C-674519b7/" class="icon brands fa-linkedin-in"><span class="label and fa-link">LinkedIn</span></a></li>
												</ul>
											</li>
										</ul>
									</section>
								</div>
							</div>
						</section>

				</div>

			<!-- Scripts -->
				<script src="static/assets/js/jquery.min.js"></script>
				<script src="static/assets/js/jquery.scrollex.min.js"></script>
				<script src="static/assets/js/jquery.scrolly.min.js"></script>
				<script src="static/assets/js/browser.min.js"></script>
				<script src="static/assets/js/breakpoints.min.js"></script>
				<script src="static/assets/js/util.js"></script>
				<script src="static/assets/js/main.js"></script>
			<!--	<script src="static/assets/js/validateforms.min.js"> 
				</script>-->
				

		</body>
</html>