<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a href="index.html" class="title">Thank you. I'll follow up shortly.</a>
				<nav>
					<ul>
						<form>
							<input type="button" value="Go back!" onclick="history.back()">
						   </form>
                        </ul>
                    </nav>
        </html>          